# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
docker-compose.override.yml

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
